.cart{padding:20%;
border:green solid 13px;
width:300px;
height:300px;
margin:10%;
background-color:darkslategrey
}
button{padding:10%;
    background-color:darkolivegreen;
     border:solid white;}
     button:hover{background-color:brown;
        color:white;
        cursor:pointer;}
        h1,p{font-size:45px}