h1{
    color:chocolate
}
body{
    background-color:cadetblue
}
<<<<<<< HEAD
=======
p{
    padding:3%;
    border:solid 5px white ;
    margin:auto;
    width:200px;
    height:100px;
    font-size:35px;
background-color:darksalmon;
border-radius:5%;}